record (calcout, "$(P)STAT:HEX:$(INDEX):RAW"){
    field(DESC, "RAW hexadecimal char number $(INDEX)")
    field(INPB, "$(P)STAT CP MS")
    field(CALC, "A")
}

record(mbbiDirect, "$(P)STAT:HEX:$(INDEX)") {
    field(DESC, "Gets hexadecimal character number $(INDEX)")
    field(DTYP, "Soft Channel")
    field(INP, "$(P)STAT:HEX:$(INDEX):RAW.A CP MS")
    field(NOBT, "4")
    
    field(SIML, "$(P)SIM")
	
    info(INTEREST, "LOW")
    field(SDIS, "$(P)DISABLE")
}

