record (calcout, "$(P)STAT:HEX:$(INDEX):RAW"){
    field(INPB, "$(P)READ:STAT CP MS")
    field(CALC, "A")
}

record(mbbiDirect, "$(P)STAT:HEX:$(INDEX)") {
    field(DESC, "Gets hexadecimal character number $(INDEX)")
    field(DTYP, "Raw Soft Channel")
    field(INP, "$(P)STAT:HEX:$(INDEX):RAW.A CP MS")
    field(NOBT, "4")
	
    info(INTEREST, "HIGH")
	info(ARCHIVE, "VAL")
	info(ALARNM, "NGPSPSU")
    field(SDIS, "$(P)DISABLE")
}

